@import "../../scss/variables";

$padding-top: $cube * 5;
$padding-side: $cube * 10;
$border-width: $cube * 2;

:host {
  display: flex;
  width: 100%;

  > ::ng-deep [novaButtonRef] {
    width: 100%;
    outline: none;
    box-shadow: none;
    border: $border-width solid transparent;
    border-radius: $cube * 5;
    transition: background-color $transition;

    padding: $padding-top $padding-side;

    user-select: none;
    cursor: pointer;

    background-color: $primary;

    &:hover {
      background-color: $primary-dark;
    }

    &:active {
      border-color: $primary;
    }
  }

  &.success > ::ng-deep [novaButtonRef] {
    background-color: $success;

    &:hover {
      background-color: $success-dark;
    }

    &:active {
      border-color: $success;
    }
  }

  &.warning > ::ng-deep [novaButtonRef] {
    background-color: $warning;

    &:hover {
      background-color: $warning-dark;
    }

    &:active {
      border-color: $warning;
    }
  }

  &.danger > ::ng-deep [novaButtonRef] {
    background-color: $danger;

    &:hover {
      background-color: $danger-dark;
    }

    &:active {
      border-color: $danger;
    }
  }

  > ::ng-deep [novaButtonRef]:disabled {
    cursor: not-allowed;

    &, &:hover {
      background-color: $secondary;
    }

    &:active {
      border-color: transparent;
    }
  }
}
