<router-outlet></router-outlet>

<p>
  This is a text field:
</p>

<div class="row">
  <nova-text-field>
    <label for="name">Name</label>
    <input type="text" id="name" novaTextFieldRef>
  </nova-text-field>

  <nova-text-field>
    <label for="age">Age</label>
    <input type="number" id="age" min="0" novaTextFieldRef>
  </nova-text-field>

  <nova-text-field>
    <label for="death">Death</label>
    <input type="date" id="death" novaTextFieldRef>
  </nova-text-field>
</div>

<div class="row">
  <span class="m">test!</span>
  <span class="a">test!</span>
  <span class="b">test!</span>
  <span class="c">test!</span>
  <span class="d">test!</span>
  <span class="e">test!</span>
  <span class="f">test!</span>
  <span class="g">test!</span>
  <span class="h">test!</span>
  <span class="i">test!</span>
  <span class="j">test!</span>
  <span class="k">test!</span>
  <span class="l">test!</span>
</div>

<div class="row">
  <nova-checkbox>
    <label for="checkbox">Name</label>
    <input type="checkbox" id="checkbox" novaCheckboxRef>
  </nova-checkbox>
</div>

<div class="row">
  <nova-button>
    <input type="submit" novaButtonRef value="Submit">
  </nova-button>
  <nova-button type="warning">
    <input type="button" novaButtonRef value="Input Button">
  </nova-button>
  <nova-button type="danger">
    <button novaButtonRef>Button</button>
  </nova-button>
</div>
