@import "projects/getnova-components/src/scss/variables";

:host {
  display: block;
  padding: $cube * 20;

  .row {
    display: flex;
    flex-direction: row;

    & > *:not(:first-child) {
      margin-left: $cube  * 10;
    }
  }

  span.m {
    color: $blue;
  }

  span.a {
    color: $indigo;
  }

  span.b {
    color: $purple;
  }

  span.c {
    color: $pink;
  }

  span.d {
    color: $red;
  }

  span.e {
    color: $orange;
  }

  span.f {
    color: $yellow;
  }

  span.g {
    color: $green;
  }

  span.h {
    color: $teal;
  }

  span.i {
    color: $cyan;
  }

  span.j {
    color: $white;
  }

  span.k {
    color: $gray;
  }

  span.l {
    color: $gray-dark;
  }
}
