$blue-light: var(--blue-light);
$blue: var(--blue);
$blue-dark: var(--blue-dark);
$indigo-light: var(--indigo-light);
$indigo: var(--indigo);
$indigo-dark: var(--indigo-dark);
$purple-light: var(--purple-light);
$purple: var(--purple);
$purple-dark: var(--purple-dark);
$pink-light: var(--pink-light);
$pink: var(--pink);
$pink-dark: var(--pink-dark);
$red-light: var(--red-light);
$red: var(--red);
$red-dark: var(--red-dark);
$orange-light: var(--orange-light);
$orange: var(--orange);
$orange-dark: var(--orange-dark);
$yellow-light: var(--yellow-light);
$yellow: var(--yellow);
$yellow-dark: var(--yellow-dark);
$green-light: var(--green-light);
$green: var(--green);
$green-dark: var(--green-dark);
$teal-light: var(--teal-light);
$teal: var(--teal);
$teal-dark: var(--teal-dark);
$cyan-light: var(--cyan-light);
$cyan: var(--cyan);
$cyan-dark: var(--cyan-dark);
$white: var(--white);
$gray: var(--gray);
$gray-dark: var(--gray-dark);
$black: var(--black);

$light-100: var(--light-100);
$light-200: var(--light-200);
$light-300: var(--light-300);
$light-400: var(--light-400);
$dark-100: var(--dark-100);
$dark-200: var(--dark-200);
$dark-300: var(--dark-300);
$dark-400: var(--dark-400);

$primary-light: var(--primary-light);
$primary: var(--primary);
$primary-dark: var(--primary-dark);
$secondary: var(--secondary);
$success-light: var(--success-light);
$success: var(--success);
$success-dark: var(--success);
$info-light: var(--info-light);
$info: var(--info);
$info-dark: var(--info-dark);
$warning-light: var(--warning-light);
$warning: var(--warning);
$warning-dark: var(--warning-dark);
$danger-light: var(--danger-light);
$danger: var(--danger);
$danger-dark: var(--danger-dark);

$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);

$background-color: var(--background-color);
