@import "colors";
@import "sizes";

/* Sizes */
$cube: 0.0625rem !default; // 1 / 16;

$bp-xs: 0 !default;
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;

$breakpoints: (
  "xs": $bp-xs,
  "sm": $bp-sm,
  "md": $bp-md,
  "lg": $bp-lg,
  "xl": $bp-xl
) !default;

/* Fonts */
$font-family-mono: 'JetBrains Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$title-font-size: $cube * 20 !default;
$text-font-size: $cube * 16 !default;

/* Other Stuff */
$border-radius: $cube * 5;
$box-shadow: 0 0 $cube * 8 rgba(0, 0, 0, 0.5) !default;
$box-radius: $cube * 0.4 !default;
$transition-time-slow: 250ms !default;
$transition-time-fast: 200ms !default;
$transition-type: ease-in-out !default;
$transition: $transition-time-slow $transition-type !default;
$transition-type-bounce: cubic-bezier(0.2, 0, 0.13, 1.5) !default;
