<nova-page>
  <nova-page-mark>
    <h3>Nova Components</h3>
  </nova-page-mark>
  <nova-page-header>
    <a>Link 1</a>
    <a>Link 2</a>
    <a>Link 3</a>
  </nova-page-header>
  <nova-page-aside>
    <a>Link 1</a>
    <a>Link 2</a>
    <a>Link 3</a>
  </nova-page-aside>
  <nova-page-body>
    <router-outlet></router-outlet>
  </nova-page-body>
  <nova-page-footer>
    <p>
      &copy; MarcelCoding &lt;<a href="https://github.com/MarcelCoding" rel="noreferrer" target="_blank">github.com/MarcelCoding</a>&gt;
    </p>
  </nova-page-footer>
</nova-page>

<nova-modal-parent></nova-modal-parent>
