@import "scss/color-values";
@import "scss/variables";

// background: #cc3d00 radial-gradient(circle at 60% 100%,#ffa436 5%,#cc3d00 94%);

* {
  padding: 0;
  margin: 0;

  &, &::before, &::after {
    box-sizing: inherit;
  }
}

::selection {
  color: $secondary;
  background-color: $primary-dark;
}

button, input, label, optgroup, select, textarea, p, a, span, div {
  font-size: $text-font-size;
}

h1 {
  font-size: $title-font-size * 1.8;
}

h2 {
  font-size: $title-font-size * 1.5;
}

h3 {
  font-size: $title-font-size * 1.2;
}

h4 {
  font-size: $title-font-size * 1;
}

h5 {
  font-size: $title-font-size * 0.8;
}

h6 {
  font-size: $title-font-size * 0.5;
}
